/*
:root {
  --bs-primary: #9370DB; 
  --bs-primary-rgb: 147, 112, 219; 
}

.btn-outline-primary {
    --bs-btn-hover-color: #fff;
}

.navbar-brand, .nav-link {
    --bs-navbar-brand-hover-color: #e9e3f5;
    --bs-navbar-active-color: #fff;
    --bs-nav-link-hover-color: #e9e3f5;
}
*/